* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	text-align: justify;
	text-indent: 2em;
	word-wrap: break-word;
}

#gkreader_header {
	height: 10%;
}

#gkreader_container {
	/*margin: 1em;*/
	height: calc(90% - 2em);
	width: calc(100% - 2em);
	position: absolute;
}

#gkreader_container img {
	-webkit-column-break-inside: avoid;
}

body {
	position: absolute;
}

#gkreader_wrapper {
	position: absolute;
	overflow-x: hidden;
	padding: 1em;
	height: 100%;
	width: 100%;

}